body{
background-color: darkseagreen;
}

.brand-logo{
 font-family: 'Amatica SC', cursive;
 font-weight: bold;
  margin-left: 3%;
}
.imagen-logo{
	width: 5.5%;
	height: 5.5%;
}

#search{
font-family: 'Amatica SC', cursive;
	font-size: 1.5vw;
}